:root {
    --background-solid: #cec0a9;
    --background-grid: #926969;

    --backdrop-100: #fdf1de;
    --backdrop-200: #e7d7be;
    --backdrop-300: #d1c0a6;
    --backdrop-400: #aa9b85;

    --border-100: #b56262;
    --border-400: #790c0c;
    --border-600: #4a1010;


    --hp-timing-function: linear(0, 0.002 0.3%, 0.009 0.7%, 0.036 1.4%, 0.084 2.2%, 0.147 3%, 0.293 4.5%, 0.749 8.7%, 0.869 10%, 0.971 11.3%, 1.052 12.6%, 1.111 13.9%, 1.132 14.5%, 1.151 15.2%, 1.165 15.9%, 1.174 16.6%, 1.179 17.3%, 1.179 18.1%, 1.176 18.9%, 1.167 19.8%, 1.142 21.5%, 1.05 26.2%, 1.03 27.4%, 1.012 28.6%, 0.996 29.9%, 0.983 31.3%, 0.974 32.7%, 0.969 34.2%, 0.968 35.8%, 0.97 37.6%, 0.998 46.3%, 1.003 48.9%, 1.005 51.7%, 1.005 55.3%, 0.999 69%, 1);
    --hp-duration: 2s;
}

::selection {
    background: #7676764d;
}


.container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.noise {
    pointer-events: none;
    position: absolute;
    background-image: url(../images/small_noise.gif);
    background-repeat: repeat;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    opacity: .075;
    z-index: 1;
}

.scene {
    position: relative;

    width: 100%;
    height: 100%;

    perspective: 50em;

    perspective-origin: center center;
    transform-style: preserve-3d;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}