.container {
    overflow: hidden;
}

.scene .background h2:nth-of-type(1) {
    filter: url(#pixelate200);
    position: absolute;
    top: 55%;
    left: 43.5%;
    translate: -50% -30%;

    font-size: 11vw;
    text-align: center;
    white-space: nowrap;
    color: #790c0c;

    opacity: 0;
    scale: 0;
    transition: translate var(--hp-duration) var(--hp-timing-function), scale var(--hp-duration) var(--hp-timing-function), opacity .4s ease;
}

.scene:has(li:nth-of-type(1):hover) .background h2:nth-of-type(1) {
    opacity: 1;
    scale: 1;
    translate: -50% -80%;
}

.scene .background h2:nth-of-type(2) {
    filter: url(#pixelate200);
    position: absolute;
    top: 55%;
    left: 50%;
    translate: -50% -30%;

    font-size: 11vw;
    text-align: center;
    white-space: nowrap;
    color: #790c0c;

    opacity: 0;
    scale: 0;
    transition: translate var(--hp-duration) var(--hp-timing-function), scale var(--hp-duration) var(--hp-timing-function), opacity .4s ease;
}

.scene:has(li:nth-of-type(2):hover) .background h2:nth-of-type(2) {
    opacity: 1;
    scale: 1;
    translate: -50% -80%;
}

.threeD {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

    perspective: 40em;
    perspective-origin: center center;
    transform-style: preserve-3d;
}

.threeD * {
    transform-style: preserve-3d;
}


.scene:has(li:hover) .background {
    rotate: x 40deg;
}

.scene .threeD .laptop-model {
    rotate: x 0deg;
    transition: rotate var(--hp-duration) var(--hp-timing-function), translate 2.5s var(--hp-timing-function);
}

.scene:has(li:hover) .threeD .laptop-model {
    rotate: x -20deg;
}

.scene > ul > li > a {
    display: block;
    translate: 0;
    transition: translate var(--hp-duration) var(--hp-timing-function);
}

.scene > ul > li:nth-of-type(1):hover > a {
    translate: 0 -7.5vw;
}

.scene > ul > li:nth-of-type(2):hover > a {
    translate: 0 -9vw;
}


@media (min-height: 1000px) {
    .scene {
        perspective: 60em;
    }
}

@media (min-height: 1200px) {
    .scene {
        perspective: 70em;
    }
}


.scene .background {
    position: absolute;
    --size: 500;

    height: calc(var(--size) * 1%);
    width: calc(var(--size) * 1%);
    top: calc((var(--size) - 100) * -0.5%);
    left: calc((var(--size) - 100) * -0.5%);

    display: grid;
    place-items: center;
    translate: 0 0 -450px;
    rotate: x 0deg;

    background:
        repeating-linear-gradient(transparent,
            transparent 60px,
            var(--background-grid) 60px,
            var(--background-grid) 61.5px),
        repeating-linear-gradient(90deg,
            transparent,
            transparent 60px,
            var(--background-grid) 60px,
            var(--background-grid) 61.5px),
        var(--background-solid);

    transition: rotate var(--hp-duration) var(--hp-timing-function);
}



ul {
    filter: url(#pixelate200);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    translate: -50% -50% 0;
    z-index: 1;
    padding-inline: 17.5vw;

    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    container-type: size;
}

li {
    position: relative;
    aspect-ratio: 1;
    width: min(100%, 80cqh);
    container-type: inline-size;
    display: grid;
    place-items: center;
}