/* o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0oo0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o */
/* General styling */
/* o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0oo0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o */


.container {
    overflow: hidden;
    height: auto;
}

.background-setup {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;
}

.scene .background {
    height: 100%;
    width: 100%;
    background:
        repeating-linear-gradient(transparent,
            transparent 40px,
            var(--background-grid) 40px,
            var(--background-grid) 41px),
        repeating-linear-gradient(90deg,
            transparent,
            transparent 40px,
            var(--background-grid) 40px,
            var(--background-grid) 41px),
        var(--background-solid);
}






/* o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0oo0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o */
/* Content block */
/* o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0oo0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o */

main > section {
    position: relative;
    max-width: 1200px;
    margin-inline: auto;
    margin-block: 5rem;
    padding: 5rem;
    background-color: var(--backdrop-200);
    border: 2px solid var(--border-400);
}

/* -=-=-=-=-=-=-=-=-=- */
/* header */
/* -=-=-=-=-=-=-=-=-=- */

section header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    box-shadow: 0 2px var(--border-400);
}

section header nav {
    --flex-gap: 2rem;
    display: flex;
    width: calc(100% - 42px - 2px);
    gap: var(--flex-gap);
    padding: .5rem;
    border-top: 5px solid var(--backdrop-100);
    border-left: 5px solid var(--backdrop-100);
    border-right: 5px solid var(--backdrop-300);
    border-bottom: 5px solid var(--backdrop-300);
}

section header nav a {
    color: var(--border-400);
}

section header nav a:hover {
    background: #00000020;
}

section header nav a:focus-visible {
    background: #790c0c3b;
    outline: none;
}

section header nav a:not(:last-of-type) {
    position: relative;
}

section header nav a:not(:last-of-type)::after {
    position: absolute;
    content: '>';
    height: 16px;
    width: 16px;
    text-align: center;
    top: 50%;
    right: calc((var(--flex-gap) / 2 + .5rem) * -1);
    translate: 0 -50%;
    pointer-events: none;
}

section header nav a:last-of-type {
    text-decoration: underline wavy;
}

section header span {
    margin-inline-start: auto;
    display: block;
    width: 42px;
    text-align: center;
    padding: .5rem;
    border-top: 5px solid var(--backdrop-100);
    border-left: 5px solid var(--backdrop-100);
    border-right: 5px solid var(--backdrop-300);
    border-bottom: 5px solid var(--backdrop-300);
    box-shadow: -2px 0 var(--border-400);
}

section header span p {
    color: var(--border-400);
    animation: spin 3s steps(1) infinite;
}

@keyframes spin {
    0% {
        rotate: z 0deg;
    }
    12.5% {
        rotate: z 45deg;
    }
    25% {
        rotate: z 90deg;
    }
    37.5% {
        rotate: z 135deg;
    }
    50% {
        rotate: z 180deg;
    }
    62.5% {
        rotate: z 225deg;
    }
    75% {
        rotate: z 270deg;
    }
    82.5% {
        rotate: z 315deg;
    }
    100% {
        rotate: z 360deg;
    }
}


/* -=-=-=-=-=-=-=-=-=- */
/* title */
/* -=-=-=-=-=-=-=-=-=- */

section h1 {
    position: relative;
    filter: url(#pixelate100);
    font-size: 5rem;
    padding-bottom: .5rem;
    padding-inline-start: calc(5rem + 1rem);
    color: #790c0c;

    width: 100%;
    box-shadow: 
    0 3px var(--border-400), 
    0 5px var(--backdrop-200),
    0 15px var(--border-400);
    margin-bottom: calc(15px + 2rem);
}

section h1::before {
    content: '';
    background-image: url(../images/hammer_icon.png);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - .5rem);
    width: 5rem;
}


/* -=-=-=-=-=-=-=-=-=- */
/* sub info */
/* -=-=-=-=-=-=-=-=-=- */

section .general-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section .general-data div:first-of-type {
    padding: 0;
    padding-inline-end: 2rem;
}

section .general-data div {
    padding-inline: 2rem;
}

section .general-data div:last-of-type {
    padding: 0;
    padding-inline-start: 2rem;
}

section .general-data div:not(:last-child) {
    border-right: 2px solid var(--border-400);
}

section .general-data div * {
    font-family: 'waffer';
    line-height: 1.3em;
}

section .general-data div h3 {
    font-weight: 600;
    color: var(--border-400);
    margin-bottom: .5rem;
}


/* -=-=-=-=-=-=-=-=-=- */
/* main content */
/* -=-=-=-=-=-=-=-=-=- */

section .content-container {
    margin-top: 2rem;
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--backdrop-100);
    padding: 2rem;
    border: 2px solid var(--border-400);
}

section .content-container * {
    font-family: 'waffer';
    line-height: 1.3em;
}

section .content-container .section-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

section .content-container .section-1 div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

section .content-container .section-1 figure {
    position: relative;
    border: var(--border-400) 2px solid;
    height: max-content;
    align-self: center;
}

section .content-container .section-1 figure::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 3rem;
    background-color: var(--backdrop-100);
    aspect-ratio: 1;
}

section .content-container .section-1 figure::after {
    position: absolute;
    content: '';
    background-image: url(../images/picture-icon.svg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    right: 0;
    height: 2rem;
    aspect-ratio: 1;
    background-color: var(--backdrop-200);
    border-top: 5px solid var(--backdrop-100);
    border-left: 5px solid var(--backdrop-100);
    border-right: 5px solid var(--backdrop-300);
    border-bottom: 5px solid var(--backdrop-300);
    outline: 2px var(--border-400) solid;
}

section .content-container .section-1 figure img {
    padding: 1rem;
}

section .content-container .section-1 figure figcaption {
    padding: 1rem;
    border-top: 2px solid var(--border-400);
}