/* ------------------------------------------------------------------------------------- */
/* General styling */
/* ------------------------------------------------------------------------------------- */


.container {
    overflow: hidden;
    height: auto;
}

.background-setup {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;
}

.scene .background {
    height: 100%;
    width: 100%;
    background:
        repeating-linear-gradient(transparent,
            transparent 40px,
            var(--background-grid) 40px,
            var(--background-grid) 41px),
        repeating-linear-gradient(90deg,
            transparent,
            transparent 40px,
            var(--background-grid) 40px,
            var(--background-grid) 41px),
        var(--background-solid);
}

/* ------------------------------------------------------------------------------------- */
/* Content block */
/* ------------------------------------------------------------------------------------- */

main {
    padding-inline: 3rem;
}

main>section {
    position: relative;
    max-width: 1100px;
    margin-inline: auto;
    margin-block: 3rem;
    padding: 5rem;
    background-color: var(--backdrop-200);
    border: 2px solid var(--border-400);
}

/* -  -  -  -  -  -  -  -  -  -  -  -  - */
/* header */
/* -  -  -  -  -  -  -  -  -  -  -  -  - */

section>header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    box-shadow: 0 2px var(--border-400);
}

section>header nav {
    --flex-gap: 2rem;
    display: flex;
    width: calc(100% - 42px - 2px);
    gap: var(--flex-gap);
    padding: .5rem;
    border-top: 5px solid var(--backdrop-100);
    border-left: 5px solid var(--backdrop-100);
    border-right: 5px solid var(--backdrop-300);
    border-bottom: 5px solid var(--backdrop-300);
}

section>header nav a {
    color: var(--border-400);
}

section>header nav a:hover {
    background: #00000020;
}

section>header nav a:focus-visible {
    background: #790c0c3b;
    outline: none;
}

section>header nav a:not(:last-of-type) {
    position: relative;
}

section>header nav a:not(:last-of-type)::after {
    position: absolute;
    content: '>';
    height: 16px;
    width: 16px;
    text-align: center;
    top: 50%;
    right: calc((var(--flex-gap) / 2 + .5rem) * -1);
    translate: 0 -50%;
    pointer-events: none;
}

section>header nav a:last-of-type {
    text-decoration: underline;
}

section>header span {
    margin-inline-start: auto;
    display: block;
    width: 42px;
    text-align: center;
    padding: .5rem;
    border-top: 5px solid var(--backdrop-100);
    border-left: 5px solid var(--backdrop-100);
    border-right: 5px solid var(--backdrop-300);
    border-bottom: 5px solid var(--backdrop-300);
    box-shadow: -2px 0 var(--border-400);
}

section>header span p {
    color: var(--border-400);
    animation: spin 3s steps(1) infinite;
}

@keyframes spin {
    0% {
        rotate: z 0deg;
    }

    12.5% {
        rotate: z 45deg;
    }

    25% {
        rotate: z 90deg;
    }

    37.5% {
        rotate: z 135deg;
    }

    50% {
        rotate: z 180deg;
    }

    62.5% {
        rotate: z 225deg;
    }

    75% {
        rotate: z 270deg;
    }

    82.5% {
        rotate: z 315deg;
    }

    100% {
        rotate: z 360deg;
    }
}


/* -=-=-=-=-=-=-=-=-=- */
/* title */
/* -=-=-=-=-=-=-=-=-=- */

section .title-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

section .title-container h1 {
    position: relative;
    filter: url(#pixelate100);
    font-size: 3rem;
    text-align: center;
    padding-inline: 1rem;
    color: #790c0c;
    /* background-color: var(--backdrop-200); */
    /* box-shadow: 
    0 3px var(--border-400), 
    0 5px var(--backdrop-200),
    0 15px var(--border-400);
    margin-bottom: calc(15px + 2rem); */
    white-space: nowrap;
}

section .title-container span {
    display: block;
    height: 1px;
    border-top: 2px dashed var(--border-400);
    width: 100%;
}




.content-container {
    --width: 13rem;
    --height: 13rem;

    --container-padding: 1rem;
    --text-padding: 1rem;

    --font-size: 1rem;

    --skew-angle: 20deg;
    --p-skew-angle: calc(var(--skew-angle) * 1);
    --n-skew-angle: calc(var(--skew-angle) * -1);

    isolation: isolate;
    display: flex;
    gap: 1rem;
}


/* -=-=-=-=-=-=-=-=-=- */
/* filter */
/* -=-=-=-=-=-=-=-=-=- */

.content-container aside {
    position: relative;
    background-color: var(--backdrop-100);
    padding: 2rem 1rem;
    border: 2px solid var(--border-400);
}

.content-container aside .layout-interactions {
    position: sticky;
    top: 5rem;
    width: calc(16px + (.5rem * 2) + (5px * 2));
    border: 2px solid var(--border-400);
    display: grid;
    height: max-content;
    gap: 2px;
    background: var(--backdrop-200);
}

.content-container aside .layout-interactions button {
    display: block;
    appearance: none;
    width: 100%;
    aspect-ratio: 1;
    border: none;
    background: transparent;
    outline: 2px solid var(--border-400);
    margin-inline-start: auto;

    border-top: 5px solid var(--backdrop-100);
    border-left: 5px solid var(--backdrop-100);
    border-right: 5px solid var(--backdrop-300);
    border-bottom: 5px solid var(--backdrop-300);
    padding: .3rem;
}

.content-container aside .layout-interactions button:active {
    border-right: 5px solid var(--backdrop-100);
    border-bottom: 5px solid var(--backdrop-100);
    border-top: 5px solid var(--backdrop-300);
    border-left: 5px solid var(--backdrop-300);
}


/* -=-=-=-=-=-=-=-=-=- */
/* grid / list */
/* -=-=-=-=-=-=-=-=-=- */

.content-container aside .layout-interactions input {
    height: 100%;
    aspect-ratio: 1;
    appearance: none;
    outline: 2px solid var(--border-400);
    border-top: 5px solid var(--backdrop-100);
    border-left: 5px solid var(--backdrop-100);
    border-right: 5px solid var(--backdrop-300);
    border-bottom: 5px solid var(--backdrop-300);

    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}


.content-container aside .layout-interactions input:nth-of-type(1) {
    background-image: url(../images/list-view.svg);
}

.content-container aside .layout-interactions input:nth-of-type(2) {
    background-image: url(../images/grid-view.svg);
}

.content-container aside .layout-interactions input:checked {
    border-right: 5px solid var(--backdrop-100);
    border-bottom: 5px solid var(--backdrop-100);
    border-top: 5px solid var(--backdrop-300);
    border-left: 5px solid var(--backdrop-300);
}

.content-container:has(input:nth-of-type(1):checked) {
    --width: 9rem;
    --height: 9rem;
}

.content-container:has(input:nth-of-type(1):checked)>ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-container:has(input:nth-of-type(1):checked)>ul>li {
    position: relative;
    display: flex;
}

.content-container:has(input:nth-of-type(1):checked)>ul>li .list-details {
    margin-inline-start: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
    border-block: 2px dashed var(--backdrop-200);
}

.content-container:has(input:nth-of-type(1):checked)>ul>li:hover .list-details {
    border-block: 2px dashed var(--border-400);
}

.content-container:has(input:nth-of-type(1):checked)>ul>li .list-details p {
    color: var(--border-400);
}

.content-container:has(input:nth-of-type(1):checked)>ul>li .list-details ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .5rem;
}

.content-container:has(input:nth-of-type(1):checked)>ul>li .list-details ul li {
    font-family: 'rm-mono';
    font-size: .75rem;
    color: var(--border-400);
}

.content-container:has(input:nth-of-type(1):checked)>ul>li .list-details ul li span {
    background-color: var(--backdrop-200);
}

.content-container:has(input:nth-of-type(1):checked)>ul>li:not(:last-of-type)::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--border-400);
}

.content-container:has(input:nth-of-type(1):checked)>ul>li a:nth-of-type(1) {
    border: 2px solid var(--border-400);
    width: max-content;
}

.content-container:has(input:nth-of-type(1):checked)>ul>li a:nth-of-type(1)::before {
    display: none !important;
}

.content-container:has(input:nth-of-type(1):checked)>ul>li a:nth-of-type(1)>p {
    display: none !important;
}

.content-container:has(input:nth-of-type(1):checked) .details ul {
    display: none !important;
}

.content-container:has(input:nth-of-type(1):checked) .details img:nth-of-type(1) {
    top: 50% !important;
}

/* -=-=-=-=-=-=-=-=-=- */
/* items */
/* -=-=-=-=-=-=-=-=-=- */

.content-container>ul {
    position: relative;
    list-style: none;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, calc(var(--width) + (var(--container-padding) * 2)));
    gap: 2rem calc((100% - ((var(--width) + (var(--container-padding) * 2)) * 3)) / 2);

    background-color: var(--backdrop-100);
    padding: 2rem;
    border: 2px solid var(--border-400);
}


@media (max-width: 1200px) {
    .content-container>ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}

.content-container>ul>li .list-details {
    display: none;
}

.content-container>ul>li a:nth-of-type(1) {
    display: block;
    position: relative;
    border-bottom: none;
    border-top: 2px solid var(--border-400);
    border-left: 2px solid var(--border-400);
    padding: var(--container-padding);
}

.content-container>ul>li a:nth-of-type(1)::before {
    position: absolute;
    content: '';
    height: calc((var(--text-padding) * 2) + var(--font-size) + var(--container-padding));
    width: var(--font-size);
    background: var(--backdrop-100);
    bottom: 0;
    right: 0;
}

.content-container>ul>li a:nth-of-type(1)>p {
    box-sizing: content-box;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: calc(((var(--font-size) + (var(--text-padding) * 2)) * tan(var(--p-skew-angle))) / 2);
    background: var(--backdrop-100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--font-size);
    font-size: var(--font-size);
    padding: var(--text-padding);

    box-shadow: calc(var(--container-padding) * -1) calc(var(--container-padding) * -1) var(--backdrop-100);
    border-left: 2px solid var(--border-400);
    border-top: 2px solid var(--border-400);

    transform: skew(var(--n-skew-angle));

    color: var(--border-400);
}

.content-container>ul>li a:nth-of-type(1)>p::before {
    position: absolute;
    content: "";
    background: var(--border-400);
    bottom: 0;
    left: 0;
    height: 2px;
    width: calc(var(--width) + (var(--container-padding) * 2) - 100% - ((var(--font-size) + (var(--text-padding) * 2)) * tan(var(--p-skew-angle))));
    translate: -100%;
    transform: skew(var(--p-skew-angle));
}

.content-container>ul>li a:nth-of-type(1)>p::after {
    position: absolute;
    content: "";
    background: var(--border-400);
    top: 0;
    right: calc(((var(--height) + (var(--container-padding) * 2) - var(--font-size) - (var(--text-padding) * 2)) * tan(var(--p-skew-angle))) / 2 - 1px);
    height: calc(var(--height) + (var(--container-padding) * 2) - var(--font-size) - (var(--text-padding) * 2) + 2px);
    width: 2px;
    translate: 0 -100%;
    transform: skew(var(--p-skew-angle));
}

.content-container>ul>li a:nth-of-type(1) .cover {
    width: var(--width);
    height: var(--height);
    background-image: url(../images/mannen_met_de_code.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.content-container>ul>li:nth-of-type(1) a .cover {
    background-image: url(../images/mmdh_thumbnail3.png);
}

.content-container>ul>li:nth-of-type(2) a .cover {
    background-image: url(../images/csscat_thumbnail3.png);
}

.content-container>ul>li:nth-of-type(3) a .cover {
    background-image: url(../images/nsform_thumbnail2.png);
}

.content-container>ul>li:nth-of-type(4) a .cover {
    background-image: url(../images/nsform_thumbnail.png);
}

.content-container>ul>li a:nth-of-type(1) .cover .details {
    position: relative;
    height: 100%;
    width: 100%;

    background: var(--backdrop-200);
    mask-mode: alpha;
    mask-image: radial-gradient(circle at center center,
            black calc(var(--width) / 2),
            transparent calc(var(--width) / 2)),
        linear-gradient(transparent calc(var(--height) + (var(--height) / 2)),
            black calc(var(--height) + (var(--height) / 2)));
    mask-position: center top;
    mask-size: 100% 300%;
    mask-repeat: no-repeat;
    transition: mask-position 0.5s cubic-bezier(0.85, 0.09, 0.15, 0.91);
}

.content-container>ul>li:hover a .cover .details {
    mask-position: center calc((var(--height) + (var(--height) / 2)) * -1);
}

.content-container>ul>li a:nth-of-type(1) .cover .details ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .5rem;
    /* padding: 1rem 1rem calc(var(--font-size) + (var(--text-padding) * 2) + 1rem) 1rem; */
    padding: 1rem;
}

.content-container>ul>li a:nth-of-type(1) .cover .details ul li {
    font-family: 'rm-mono';
    font-size: .75rem;
    color: var(--border-400);
}

.content-container>ul>li a:nth-of-type(1) .cover .details ul li span {
    background-color: var(--backdrop-100);
}


.content-container>ul>li a:nth-of-type(1) .cover .details img:nth-of-type(1) {
    z-index: -1;
    filter: url(#pixelate200);
    position: absolute;
    top: 45%;
    left: 50%;
    translate: -50% -50%;
    width: 40%;
}