/* o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0oo0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o */
/* General styling */
/* o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0oo0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o */


.container {
    overflow: hidden;
    height: auto;
}

.background-setup {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;
}

.scene .background {
    position: absolute;
    --size: 400;

    height: calc(var(--size) * 1%);
    width: calc(var(--size) * 1%);
    top: calc((var(--size) - 100) * -0.5%);
    left: calc((var(--size) - 100) * -0.5%);

    display: grid;
    place-items: center;
    translate: 0 0 -450px;
    rotate: x 0deg;

    background:
        repeating-linear-gradient(transparent,
            transparent 120px,
            var(--background-grid) 120px,
            var(--background-grid) 130px),
        repeating-linear-gradient(90deg,
            transparent,
            transparent 120px,
            var(--background-grid) 120px,
            var(--background-grid) 130px),
        var(--background-solid);

    transition: rotate 1s ease;
}






/* o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0oo0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o */
/* Content block */
/* o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0oo0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o0o */

main { 
    padding-inline: 3rem;
}

main>section {
    position: relative;
    max-width: 1200px;
    margin-inline: auto;
    margin-block: 10rem;
    padding: 5rem;
    background-color: var(--backdrop-200);
    border: 2px solid var(--border);
}

/* -=-=-=-=-=-=-=-=-=- */
/* header */
/* -=-=-=-=-=-=-=-=-=- */

section header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    box-shadow: 0 2px var(--border);
}

section header nav {
    --flex-gap: 2rem;
    display: flex;
    width: calc(100% - 42px - 2px);
    gap: var(--flex-gap);
    padding: .5rem;
    border-top: 5px solid var(--backdrop-100);
    border-left: 5px solid var(--backdrop-100);
    border-right: 5px solid var(--backdrop-300);
    border-bottom: 5px solid var(--backdrop-300);
}

section header nav a {
    color: var(--border);
}

section header nav a:hover {
    background: #00000020;
}

section header nav a:focus-visible {
    background: #790c0c3b;
    outline: none;
}

section header nav a:not(:last-of-type) {
    position: relative;
}

section header nav a:not(:last-of-type)::after {
    position: absolute;
    content: '>';
    height: 16px;
    width: 16px;
    text-align: center;
    top: 50%;
    right: calc((var(--flex-gap) / 2 + .5rem) * -1);
    translate: 0 -50%;
    pointer-events: none;
}

section header nav a:last-of-type {
    text-decoration: underline wavy;
}

section header span {
    margin-inline-start: auto;
    display: block;
    width: 42px;
    text-align: center;
    padding: .5rem;
    border-top: 5px solid var(--backdrop-100);
    border-left: 5px solid var(--backdrop-100);
    border-right: 5px solid var(--backdrop-300);
    border-bottom: 5px solid var(--backdrop-300);
    box-shadow: -2px 0 var(--border);
}

section header span p {
    color: var(--border);
    animation: spin 3s steps(1) infinite;
}

@keyframes spin {
    0% {
        rotate: z 0deg;
    }

    12.5% {
        rotate: z 45deg;
    }

    25% {
        rotate: z 90deg;
    }

    37.5% {
        rotate: z 135deg;
    }

    50% {
        rotate: z 180deg;
    }

    62.5% {
        rotate: z 225deg;
    }

    75% {
        rotate: z 270deg;
    }

    82.5% {
        rotate: z 315deg;
    }

    100% {
        rotate: z 360deg;
    }
}


/* -=-=-=-=-=-=-=-=-=- */
/* title */
/* -=-=-=-=-=-=-=-=-=- */

section h1 {
    position: relative;
    filter: url(#pixelate100);
    font-size: 5rem;
    padding-bottom: .5rem;
    color: #790c0c;

    width: 100%;
    margin-bottom: 2rem;
}

.content-container {
    --width: 17.5rem;
    --height: 17.5rem;
  
    --container-padding: 1rem;
    --text-padding: 1rem;
  
    --font-size: 1rem;
  
    --skew-angle: 20deg;
    --p-skew-angle: calc(var(--skew-angle) * 1);
    --n-skew-angle: calc(var(--skew-angle) * -1);

    isolation: isolate;
}


.content-container > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, calc(var(--width) + (var(--container-padding) * 2)));
    gap: 2rem;
}

@media (max-width: 1265px) {
    .content-container > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.content-container > ul > li {
    position: relative;
    border-bottom: none;
    border-top: 2px solid var(--border);
    border-left: 2px solid var(--border);
    padding: var(--container-padding);
}

.content-container > ul > li::before {
    position: absolute;
    content: '';
    height: calc((var(--text-padding) * 2) + var(--font-size));
    width: var(--font-size);
    background: var(--backdrop-200);
    bottom: 0;
    right: 0;
}

.content-container > ul > li a > p {
    box-sizing: content-box;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: calc(((var(--font-size) + (var(--text-padding) * 2)) * tan(var(--p-skew-angle))) / 2);
    background: var(--backdrop-200);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--font-size);
    font-size: var(--font-size);
    padding: var(--text-padding);

    box-shadow: calc(var(--container-padding) * -1) calc(var(--container-padding) * -1) var(--backdrop-200);
    border-left: 2px solid var(--border);
    border-top: 2px solid var(--border);

    transform: skew(var(--n-skew-angle));

    color: var(--border);
}

.content-container > ul > li a > p::before {
    position: absolute;
    content: "";
    background: var(--border);
    bottom: 0;
    left: 0;
    height: 2px;
    width: calc(var(--width) + (var(--container-padding) * 2) - 100% - ((var(--font-size) + (var(--text-padding) * 2)) * tan(var(--p-skew-angle))));
    translate: -100%;
    transform: skew(var(--p-skew-angle));
}

.content-container > ul > li a > p::after {
    position: absolute;
    content: "";
    background: var(--border);
    top: 0;
    right: calc(((var(--height) + (var(--container-padding) * 2) - var(--font-size) - (var(--text-padding) * 2)) * tan(var(--p-skew-angle))) / 2 - 1px);
    height: calc(var(--height) + (var(--container-padding) * 2) - var(--font-size) - (var(--text-padding) * 2) + 2px);
    width: 2px;
    translate: 0 -100%;
    transform: skew(var(--p-skew-angle));
}

.content-container > ul > li .cover {
    width: var(--width);
    height: var(--height);
    background-image: url(../images/mannen_met_de_code.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.content-container > ul > li:nth-of-type(1) .cover {
    background-image: url(../images/mmdh_thumbnail2.png);
}

.content-container > ul > li:nth-of-type(2) .cover {
    background-image: url(../images/css_cat_thumbnail2.png);
}

.content-container > ul > li:nth-of-type(3) .cover {
    background-image: url(../images/ns_form_thumbnail.png);
}

.content-container > ul > li:nth-of-type(4) .cover {
    background-image: url(../images/superlists_thumbnail.png);
}

.content-container > ul > li .cover .details {
    position: relative;
    height: 100%;
    width: 100%;

    background: var(--backdrop-300);
    mask-mode: alpha;
    mask-image: radial-gradient(circle at center center,
            black calc(var(--width) / 2),
            transparent calc(var(--width) / 2)),
        linear-gradient(transparent calc(var(--height) + (var(--height) / 2)),
            black calc(var(--height) + (var(--height) / 2)));
    mask-position: center top;
    mask-size: 100% 300%;
    mask-repeat: no-repeat;
    transition: mask-position 0.5s cubic-bezier(0.85, 0.09, 0.15, 0.91);
}

.content-container > ul > li .cover:hover .details {
    mask-position: center calc((var(--height) + (var(--height) / 2)) * -1);
}

.content-container > ul > li .cover .details ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .5rem;
    /* padding: 1rem 1rem calc(var(--font-size) + (var(--text-padding) * 2) + 1rem) 1rem; */
    padding: 1rem;
}

.content-container > ul > li .cover .details ul li {
    font-family: 'rm-mono';
    font-size: .75rem;
    color: var(--border);
}

.content-container > ul > li .cover .details ul li span {
    background-color: var(--backdrop-200);
}


.content-container > ul > li .cover .details img:nth-of-type(1) {
    z-index: -1;
    filter: url(#pixelate200);
    position: absolute;
    top: 45%;
    left: 50%;
    translate: -50% -50%;
    width: 40%;
}